<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', { title: post.title }) %>
        <link rel="stylesheet" href="/blog/styles/posts.css" />
    </head>

    <body>
        <%- include('includes/header', links) %>
        <main id="post-detail">

            <h1><%= post.title %></h1>

            <section id="post-meta">
                <address>
                    <a href="<%= `mailto: ${post.author.email}?subject=${post.title}` %>"><%=post.author.name%></a>
                </address>
                <time datetime='<%=post.dateAdded.toISOString() %>'><%= post.dateAdded.toLocaleDateString('en-UK',{weekday:'long', year:'numeric',month:'long', day:'numeric'}) %></time>
            </section>

            <hr />

            <section>
                <p id="body"><%= post.content %></p>
            </section>
        </main>
    </body>
</html>
