<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('_head') %>
        <link rel="stylesheet" href="/restaurants/styles/restaurant.css" />
    </head>

    <body>
        <%- include('_header', links); %> <%- include('_side-drawer', links); %>
        <main>
            <h1><%= restaurant.name %></h1>
            <p><%= restaurant.cuisine %> | <%= restaurant.address %></p>
            <p><%= restaurant.description %></p>
            <p><a href="<%= restaurant.website %>">View Website</a></p>
        </main>
    </body>
</html>
